<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>Measure Memory</title>
                 <!--<link rel='stylesheet' href='/css/style.css'/>-->
                <style type="text/css">
					@media all and (min-width:480px) {
			                	h3.head {font-size:30px}
			                	h3.content {background-color: #F5F5F5;color: green;font-size:30px;border:1px solid #DCDCDC; padding:0.5%}
			                	table.content {width:95%;background-color:#F5F5F5;padding:1%;margin:1% 2% 0% 2%;border:1px solid #DCDCDC} 
			                	table.head {width:100%;margin-top:1%;background-color:#F5F5F5;border:1px solid #DCDCDC}
			                	input[type=submit]{color:green;background-color:#F5F5F5}
			                	select {color:green;background-color:#F5F5F5;}
			                	/*form.a {background-color:#F5F5F5;padding:1%;margin:1% 2% 0% 2%; border:1px solid #DCDCDC;}*/
			                	tr {font-size:1.1em;color:green}
			                	td {text-align:left;width:33%}  
			                	td.a {text-align:right;width:10%}
						img.usr {max-height:12%;}
					}
					@media all and (max-width:480px){
						h3.head {font-size:30px}
			                	h3.content {background-color: #F5F5F5;color: green;font-size:30px;border:1px solid #DCDCDC; padding:0.5%}
			                	table.content {width:95%;background-color:#F5F5F5;padding:1%;margin:1% 2% 0% 2%;border:1px solid #DCDCDC} 
			                	table.head {width:100%;margin-top:1%;background-color:#F5F5F5;border:1px solid #DCDCDC}
			                	input[type=submit]{color:green;background-color:#F5F5F5;font-size:20px;width:100px;height:40px}
			                	select {color:green;background-color:#F5F5F5;width:100px;height:40px;font-size:20px}
			                	/*form.a {background-color:#F5F5F5;padding:1%;margin:1% 2% 0% 2%; border:1px solid #DCDCDC;}*/
			                	tr {font-size:1.1em;color:green}
			                	td {text-align:left;width:33%}  
			                	td.a {text-align:right;}
						img.usr {height:10%;}
				
					}
                </style>
                <script>
	                function start(){
	                	$.ajax({
				      		url:  '/memory/start',
				      		type: 'POST',
				      		dataType: 'json'
				    	}).done();	
	                }
	                function stop(){
	                	$.ajax({
				      		url:  '/memory/stop',
				      		type: 'POST',
				      		dataType: 'json'
				    	}).done();	
	                }
	                function delete(){
	                	$.ajax({
				      		url:  '/memory/stop',
				      		type: 'POST',
				      		dataType: 'json'
				    	}).done();
	                }
                </script>
        </head>
        <body>
  				<!--this will not show-->
                <table class="head">
                        <tr><td><h3 class="head">&nbsp;Measure Memory</h3></td>
                        <td class="a"><form action="/logout"><input type="submit" value="logout"></form></td></tr>
                </table>
               	<table class="head"> 
					<tr>
						<td>
							<button type="button" onclick="start()">Start</button>
							<button type="button" onclick="stop()">Stop</button>
							<button type="button" onclick="delete()">Delete</buttton>
						</td>
					</tr>
					<tr>
						<td>
							<form >
								<input type="submit" value="View" />
								<select name="timeWindow">
									<option value="24">24h</option>
									<option value="23">23h</option>
									<option value="22">22h</option>
									<option value="21">21h</option>
									<option value="20">20h</option>
									<option value="19">19h</option>
									<option value="18">18h</option>
									<option value="17">17h</option>
									<option value="16">16h</option>
									<option value="15">15h</option>
									<option value="14">14h</option>
									<option value="13">13h</option>
									<option value="12">12h</option>
									<option value="11">11h</option>
									<option value="10">10h</option>
									<option value="9">09h</option>
									<option value="8">08h</option>
									<option value="7">07h</option>
									<option value="6">06h</option>
									<option value="5">05h</option>
									<option value="4">04h</option>
									<option value="3">03h</option>
									<option value="2">02h</option>
									<option value="1">01h</option>
								</select>

							</form>
						</td>
					</tr>
				</table>


			  	<div id="table">
			  		<table>
			  			<tr><th>Timestamp</th> <th>Used Memory</th> <th>Remaining Memory</th> <th>Used Disk</th> <th>Remaining Disk</th> </tr>
			  			<% for(var i=0;i<memory.length;i++){ %>
			  				<tr> <td><%=memory.createdAt%></td> <td><%=memory.usedVolatile%></td> <td><%=memory.remainingVolatile%></td> <td><%=memory.usedPersistent%></td> <td><%=memory.remainingPersistent%></td> </tr>
			  			<%}%>
			  		</table>
			  	</div>
		</body>
</html>
