<!DOCTYPE html>
<html>
        <head>
                <meta charset="UTF-8">
                <title>PeopleDirectory</title>
                 <!--<link rel='stylesheet' href='/css/style.css'/>-->
                <style type="text/css">
		@media all and (min-width:480px) {
                	h3.head {font-size:30px}
                	h3.content {background-color: #F5F5F5;color: green;font-size:30px;border:1px solid #DCDCDC; padding:0.5%}
                	table.content {width:95%;background-color:#F5F5F5;padding:1%;margin:1% 2% 0% 2%;border:1px solid #DCDCDC} 
                	table.head {width:100%;margin-top:1%;background-color:#F5F5F5;border:1px solid #DCDCDC}
                	input[type=submit]{color:green;background-color:#F5F5F5}
                	select {color:green;background-color:#F5F5F5;}
                	/*form.a {background-color:#F5F5F5;padding:1%;margin:1% 2% 0% 2%; border:1px solid #DCDCDC;}*/
                	tr {font-size:1.1em;color:green}
                	td {text-align:left;width:33%}  
                	td.a {text-align:right;width:10%}
			img.usr {max-height:12%;}
		}
		@media all and (max-width:480px){
			h3.head {font-size:30px}
                	h3.content {background-color: #F5F5F5;color: green;font-size:30px;border:1px solid #DCDCDC; padding:0.5%}
                	table.content {width:95%;background-color:#F5F5F5;padding:1%;margin:1% 2% 0% 2%;border:1px solid #DCDCDC} 
                	table.head {width:100%;margin-top:1%;background-color:#F5F5F5;border:1px solid #DCDCDC}
                	input[type=submit]{color:green;background-color:#F5F5F5;font-size:20px;width:100px;height:40px}
                	select {color:green;background-color:#F5F5F5;width:100px;height:40px;font-size:20px}
                	/*form.a {background-color:#F5F5F5;padding:1%;margin:1% 2% 0% 2%; border:1px solid #DCDCDC;}*/
                	tr {font-size:1.1em;color:green}
                	td {text-align:left;width:33%}  
                	td.a {text-align:right;}
			img.usr {height:10%;}
	
		}
                </style>
        </head>
        <body>
                <!--this will not show-->
                <table class="head">
                        <tr><td><h3 class="head">&nbsp;People Directory</h3></td><td class="a"><form action="/logout"><input type="submit" value="logout"></form></td></tr>
                </table>
                <table class="head">
                <tr>
                <td>
                <form name="fmrm1" class="a" action="/status" method="post">
                        <!--<input class="btn btn-sucess" type="submit" > -->
                        <select name="statusCode" onchange="form1.submit()">
                            <option value="GREEN">OK</option>
                            <option value="YELLOW">Help</option>
                            <option value="RED">Emergency</option>
                        </select>
                </form>
                </td>
                </tr>
                </table>
                <h3 class="content">&nbsp;Online</h3>
                <div id="table">
                        <%var dispStatus;var s%>
                    <% for(var i=0;i<online.length;i++){ %>
                        <%if(online[i].status.statusCode=="GREEN") {dispStatus="OK";s="/img/green.png"}%>
                        <%if(online[i].status.statusCode=="YELLOW") {dispStatus="HELP";s="/img/yellow.png"}%>
                        <%if(online[i].status.statusCode=="RED") {dispStatus="Emergency";s="img/red.png"}%>
                        <table class="content">
                                <tr>
                                        <td><img class="usr" src="/img/photo3.png"><%=online[i].name%></td>
                                        <td><img src=<%=s %> /> &nbsp;<%=dispStatus%> &nbsp;
                                                <%if(online[i].status.updatedAt!==null){ %><%=online[i].status.updatedAt%><%}%>
                                        </td>
                                        <td></td>
                                </tr>
                        </table>
                    <% } %>
                </div>
                <h3 class="content">&nbsp;Offline</h3>
                <div id="table">
                        <%var dispStatus;var s%>
                    <% for(var i=0;i<offline.length;i++){ %>
                        <%if(offline[i].status.statusCode=="GREEN") {dispStatus="OK";s="/img/green.png"}%>
                        <%if(offline[i].status.statusCode=="YELLOW") {dispStatus="HELP";s="/img/yellow.png"}%>
                        <%if(offline[i].status.statusCode=="RED") {dispStatus="Emergency";s="img/red.png"}%>
                        <table class="content">
                                <tr>
                                        <td><img class="usr" src="/img/photo3.png"><%=offline[i].name%></td>
                                        <td><img src=<%=s %> /> &nbsp;<%=dispStatus%> &nbsp;
                                                <%if(offline[i].status.updatedAt!==null){ %><%=offline[i].status.updatedAt%><%}%>
                                        </td>
                                        <td></td>
                                </tr>
                        </table>
                    <% } %>
                </div>
        </body>
</html>

